*{
	margin: 0px;
	padding: 0px;
}

nav{
 background-color: #872522;
 width: 770px;
}

ul{
	display: flex;
}

li{
	list-style: none;
	padding: 10px;
	font-size: 25px;
	border-style: none;
}

footer{
	width: 760px;
	text-align: center;
	padding: 5px;
	background-color:#872522;
	color: #fff;
}

body{
	background-color: #3D3B35;
	font-family: arial;

}
div.container{
	background-color: #fff;
	width: 770px;


}


h1{
	color: white;
	font-size: 50px;
	font-family: fantasy;
    padding-top: 20px;
    background-color: #3D3B35;
}

h3{
	padding: 20px 0px 10px 15px;
	font-weight: bolder;
}

p{
	padding: 5px 0px  5px 20px;
	width: 280px;
}

li {
	list-style:none
	border:none;
}


button.submit{
	float: right;
	margin-right: 220px;
	width: 73px;
	height: 30px;
	font-size: 14px;

	background-color: #f7f7f7;

}

input{
	float: right;
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	width: 270px;

}

span{
	display: block;
	margin-left: 15px;
}